<h2>PETS OF BERLIN</h2>
<h2>Login</h2>



{{!-- <form action="/auth/login" method="POST" id="form-container" class="signup-form">
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInput Username" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="username" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="button-login"></button>
</form> --}}

<form class="signup-form" action="/auth/login" method="POST" id="form-container">
  <div class='form-group'>
    <label for="exampleInput Username">Username</label>
    <input id='exampleInput Username' type="text" name="username" class='form-control' placeholder="JonSnow">
  </div>
  <br>
  <div class='form-group'>
    <label for="exampleInputPassword1">Password</label>
    <input id="exampleInputPassword1" type="password" class='form-control' name="password" placeholder="Your password">
  </div>
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="button-login" type=submit>Login </button>
  <button class="button-signup">
    <a class="button1" href="/auth/signup">Signup</a>
    <p class="account-message">
      Don't have an account yet?

    </p>
</form>