<h1>Create Your Pet</h1>


<a>You are now in the new-pet.hbs</a>

<h2>Use the below form to create your pets profile</h2>

<form action="/auth/new-pet" method="POST" id="form-container">
  <label for="petname">Petname</label>
  <input id="petname" type="text" name="petname" placeholder="Fluffykins">

  <br><br>

  <label for="petColour">Pet Colour</label>
  <input id="petColour" type="text" name="petColour" placeholder="A lucious crimson-marroon sau">

  <br><br>

  <label for="animalFamily">AnimalFamily</label>
  <input id="animalFamily" type="text" name="animalFamily" placeholder="Guinea Pig">

  <br><br>

  <label for="petPhoto">Photo</label>
  <input id="petPhoto" type="text" name="petPhoto" placeholder="Pet Photo">
  <br>


  <br><br>

  <button>Create Pet</button>

  <input type="button" onclick="location.href='/auth/new-pet';" value="Cancel Pet" />

  <input type="button" onclick="location.href='/';" value="Go to Pet Map" />