<h2>Pets Of Berlin</h2>
<h2>-User Page-</h2>

<h3>Your Details: </h3>
<p>Hiiii {{userInfo.username}}</p>


<br><br>




<input type="button" onclick="location.href='/';" value="Go to Pet Map" />

<input type="button" onclick="location.href='/auth/new-pet';" value="Create Pet" />

<br><br>

<h2>Your Pets: </h2>

<br><br>