<h2>Pets Of Berlin</h2>
<h2>User Page</h2>
<h2>:-)</h2>


<h2>Hiiii {{user}}</h2>

<br><br>


<input type="button" onclick="location.href='/';" value="Go to Pet Map" />

<input type="button" onclick="location.href='/auth/new-pet';" value="Go to pet create" />