<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="button">
    <button>LOG IN</button>
</div>
<div id="map"></div>


{{!-- AXIOS CDN --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- google thingy --}}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>

<script type="text/javascript" src="/javascripts/main.js"></script>