<h1>{{title}}</h1>
<h2>HOME PAGE</h2>
<p>Welcome to the home page of {{title}}</p>
<div id="map"></div>
<!--  Google Maps Key  -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKy7ahg5bHKM2GCY6qnsX4ve-Rgq77VVc
"></script>
<!--  Connect main.js  -->
<script type="text/javascript" src="/javascripts/main.js"></script>