<div class="body2">

    <div class="black-box">
        <img class="logo" src="" alt="">
        <div class"text-landing">
            <h2>PETS OF BERLIN</h2>
            <p>Lorem ipsum colom unrnms paranta falenter. Lorem ipsum colom unrnms paranta falenter. Lorem ipsum colom
                unrnms paranta falenter. Lorem ipsum colom unrnms paranta falenter.</p>
        </div>
        <div class="all-buttons">
            <button class="button-view">VIEW MAP</button>
            <div class="button-group">
                <button class="button-login">LOG IN</button>
                <button class="button-signup">SIGN UP</button>
            </div>
        </div>

    </div>
</div>
</div>