<div class="body2">

    <div class="black-box">

        <div class="text-landing">

            <h2>Pets of Berlin</h2>
            <p class="catchy"> A place to find and connect with like-minded owners and pets in your neighbourhood! <br>
                Soon to role out gloabally with more pets to create your global community of pet loving people!</p>
        </div>
        <div class="all-buttons">
            <button class="button-view">
                <a href="/map">VIEW MAP</a>
            </button>
            <div class="button-group">
                <button class="button-login">
                    <a href="/auth/login">Login</a>
                </button>
                <button class="button-signup">
                    <a class="button1" href="/auth/signup">Signup</a>
                </button>
            </div>
        </div>

    </div>
</div>


</div>
</div>
{{!-- AXIOS CDN --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0iBJ86eZUGkhbuWhS7b4_B3-8cRYQgTQ&libraries=places"></script>